@import "../styles/constants.scss";
@import "../styles/colors.scss";

.item-Details {
    margin: $grid-spacing auto;
    max-width: 920px;
    height: fit-content;
    background-color: $white;

    &__img-price {
        display: flex;
        flex-direction: row;
        justify-content:space-around;

        img {
            width: 680px;
            margin-left: $comp-spacing;
            margin-top: $comp-spacing;
        }
    }

}